.card {
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.form h1 {
  text-align: center;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.loading {
  opacity: 0.5;
}

@media (width < 600px) {
  .card {
    width: 100%;
  }
}
