.header {
  background-color: var(--card);
  border-bottom: 1px solid var(--border);
}

.header nav {
  display: flex;
  gap: var(--space-md);
  justify-content: center;
  align-items: center;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  flex: 1;
  display: flex;
  gap: 1rem;
  position: relative;
}

.actions:first-child {
  justify-content: flex-start;
}

.actions:last-child {
  justify-content: flex-end;
}

/* .actions:first-child * {
  display: none;
} */

.menu-button {
  color: var(--foreground-muted);
  cursor: pointer;
}
.menu-button:hover,
.menu-button:focus {
  color: var(--foreground);
}

.avatar {
  cursor: pointer;
}
.avatar:hover,
.avatar:focus-visible {
  filter: brightness(0.9);
  box-shadow: 0 0 0 2px var(--border);
}

@media (width < 768px) {
  .actions:first-child * {
    display: unset;
  }

  .header nav {
    display: none;
  }

  .header > .container {
    flex-direction: row-reverse;
  }
  .actions:first-child {
    justify-content: flex-end;
  }
  .actions:last-child {
    justify-content: flex-start;
  }
}
