:root {
  --background: #f5f7fa;
  --card: #ffffff;
  --border: #c1c7d0;
  --primary: #3874ff;
  --secondary: #ffefca;
  --background-muted: #c7ebff;

  --foreground: #141828;
  --foreground-muted: #56627d;
  --primary-foreground: #ffffff;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.75rem;
}
